<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.flatline.flatline" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".HomepageActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="flatline-sot.tk"
                    android:path="/oauth_callback"
                    android:scheme="flatline" />
            </intent-filter>
        </activity>
        <activity android:name=".FlatSetupActivity"
            android:label="@string/flat_setup_name">
        </activity>

        <activity
            android:name=".oauth.PowershopSignInActivity"
            android:exported="true"
            android:label="@string/title_activity_powershop_sign_in"
            android:launchMode="singleTop">

            <!-- Allows the launching of this activity from the browser. Used for the OAuth Callback ! -->

        </activity>

    </application>

</manifest>
